body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }
  header{
    text-align: center;
    background-color: #7b86a1;
    border-radius: 5px;
    color: white;
    padding: 30px;
    margin: 10px;
 }

 p{

 }
  
  .form-section {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .modules {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modules-section h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .module-list {
    list-style-type: none;
    padding: 0;
  }
  
  .module-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #f9f9f9;
  }

  .flutura {
    text-align: center;
    background-color: #eb97cb;
    border-radius: 5px;
    border-style: dashed;
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 10px;
    font-style: italic;

  }
  